html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins,' Arial, sans-serif, 'Times New Roman';
    outline: none;
    border: none;
}

body{
    position: relative;
    width: 100%;
    font-family: Arial;
    scroll-behavior: smooth;
}

canvas{
    pointer-events: none;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

footer{
    position: relative;
    padding: 1em 0;
    width: 100%;
    min-height: 20vh;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
footer > p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
footer .thanks p{
    margin-bottom: 1em;
}
.thanks li{
    margin: .5em 0;
}
.footer-links li{
    list-style-type: none;
    margin: .5em 0;
}
footer .footer-links li a{
    padding: .3em;
}
footer .footer-links li a:hover{
    background-color: #36f372;
    color: #000;
}
footer .footer-socials a, footer .footer-socials  a i{
    margin: .5em 1em;
    font-size: 1.1em;
    display: block;
}
footer .footer-socials a:hover{
    color: #36f372;
}
footer .footer-socials > p{
    display: inline-block;
}
footer .footer-socials > a:last-child{
    display: block;
}
footer .footer-socials > i{
    font-size: 1.1em;
    margin-right: .3em;
}

a{
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
}
nav{
    width: 100%;
    height: 15vh;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav .logo h2{
    font-size: 2.1em;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}
nav .logo h2 span{
    color: #36f372;
}
nav .logo p{
    color: #fff;
    letter-spacing: .5em;
    font-size: 1.2em;
    font-family: 'Roboto';
    text-shadow: 1px 1px 2px #000;
}
nav .nav-links{
    width: 50%;
    padding: .6em;
}
nav .nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
nav .nav-links ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 .5em;
    color: #999;
    position: relative;
}
nav .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
    padding: .3em;
    position: relative;
    transition: .4s ease;
    text-shadow: 1px 1px 2px #000;
}
nav .nav-links ul li a:hover{
    color: #36f372;
}
nav .nav-links ul li a:active{
    background-color: #36f372;
    color: #000;
}
nav .nav-links ul li a::after{
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    background-color: #36f372;
    height: 3px;
    border-radius: 3px;
    width: 0;
    transition: .4s ease;
}
nav .nav-links ul li a:hover::after{
    width: 100%;
}
nav .navbar-hire-btn{
    color: #36f372;
    padding: .8em .9em;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: relative;
    text-shadow: 1px 1px 2px #000;
    overflow: hidden;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
}
nav .navbar-hire-btn:hover{
    background-color: #36f372;
    color: #000;
    text-shadow: none;
}
nav .navbar-hire-btn span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #36f372);
    animation: animate1 2s linear infinite;
    -o-animation: animate1 2s linear infinite;
    -moz-animation: animate1 2s linear infinite;
    -webkit-animation: animate1 2s linear infinite;
}
nav .navbar-hire-btn span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #36f372);
    animation: animate2 2s linear infinite;
    -o-animation: animate2 2s linear infinite;
    -moz-animation: animate2 2s linear infinite;
    -webkit-animation: animate2 2s linear infinite;
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
nav .navbar-hire-btn span:nth-child(3){
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, transparent, #36f372);
    animation: animate3 2s linear infinite;
    -o-animation: animate3 2s linear infinite;
    -moz-animation: animate3 2s linear infinite;
    -webkit-animation: animate3 2s linear infinite;
}
nav .navbar-hire-btn span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, transparent, #36f372);
    animation: animate4 2s linear infinite;
    -o-animation: animate4 2s linear infinite;
    -moz-animation: animate4 2s linear infinite;
    -webkit-animation: animate4 2s linear infinite;
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px){
    nav .nav-links{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    nav{
        height: 10vh;
        max-width: 100%;
        padding: 1.5em;
        justify-content: space-between;
    }
    nav .nav-links{
        display: none;
    }
    nav .navbar-hire-btn{
        padding: .6em .7em;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    nav .nav-links ul li{
        text-align: center;
        display: flex;
        justify-content: center;
    }   
}












/* ----------------loader page with hidden class transition---- */
.loader-body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 101;
    background-color: #040C2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
}
.loader-body.loader-hidden{
    animation: loaderFadeOut 1s forwards;
    -webkit-animation: loaderFadeOut 1s forwards;
    -o-animation: loaderFadeOut 1s forwards;
    -moz-animation: loaderFadeOut 1s forwards;
}
@keyframes loaderFadeOut {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}













/*---- Loader page icon animation----------- */
.loader-child{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}
.svg-frame {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

.loader-child p{
    color: #dedede;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: .3em;
}







/* -----------Load text animtion------- */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: #dedede;
    --animation: 2s ease-in-out infinite;
  }
  
  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }
  
  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
  }
  
  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }
  
  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }
  
  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }
  
  @keyframes circle-keys {
    0% {
      transform: scale(0.8);
      opacity: .8;
    }
  
    50% {
      transform: scale(1.3);
      opacity: 0.3;
    }
  
    100% {
      transform: scale(0.8);
      opacity: .8;
    }
  }
  
  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px var(--color);
      outline-offset: 0;
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }




















.loader-body .load-info{
    width: 80%;
    height: 15%;
    text-align: center;
    color: #fff;
    font-family: "Poppins", "Roboto";
    font-size: 1.1em;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease;
    animation: comeIn 2s linear 10s 1 forwards;
}
.loader-body .load-info span{
    cursor: pointer;
}
.loader-body .load-info span:hover{
    color: #36f372;
}
@keyframes comeIn {
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.row3 h3{
    color: #fff;
    margin-top: 1em;
    text-align: center;
    font-family: "Poppins", "Roboto";
    font-size: 1.2em;
}


@media screen and (max-width:800px) {
    /*  */
}




    








    